
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 5px; 
}

nav {
  background-color: #333;
  padding: 10px;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
  position:relative;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

#cartCounter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25px; 
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

main {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

section {
  margin-bottom: 40px;
}

ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}


.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.about-content h2 {
  margin-bottom: 20px;
}

.about-content p {
  margin-bottom: 20px;
  line-height: 1.6;
}
