body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 5px; 
}

nav {
    background-color: #333;
    padding: 10px;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
    position:relative;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}
#cartCounter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    right: -25px; 
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
    width: 100%;
}
.contact-form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

.contact-form-container input[type="text"]:focus,
.contact-form-container input[type="email"]:focus,
.contact-form-container textarea:focus {
    outline: none;
    border-color: #4caf50;
}

.contact-form-container textarea {
    height: 100px;
}

.contact-form-container button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form-container button[type="submit"]:hover {
    background-color: #45a049;
}

#message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.error{
    color:red;
}
.success{
    color:#4caf50;
}